---
import Slider from "src/components/Slider.astro";
import SurveyButton from "src/components/SurveyButton.svelte";

---

<section class="main-container">
    <div class="inner-container">
        <div class="text-wrapper">
            <div class="hero-content">
                <h1>Energia Solar en Argentina</h1>
                
                <span class="speach">Las mejores ofertas en <span class="text-gradient">productos solares</span></span> 
                
                <p>Obtene multiples cotizaciones de las mejores empresas de la region. Contacta con proveedores e instaladores en un solo lugar, gratis y sin registro.</p>
                
                <div class="button-wrapper">
                    <SurveyButton/>
                    <a href="/">¿Como funciona?</a>
                </div>
            </div>
        </div>

        <div class="image-wrapper">
            <div class="hero-image">        
            </div>
        </div>
    </div>
    <Slider/>

</section>

<style>

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: auto;
    padding: 2rem 0;
    border-radius: 30px;
    background-color: hsla(204,0%,100%,1);
    background-image:   radial-gradient(circle at 0% 0%, hsla(295.99999999999994,77%,74%,0.35) 3.1210986267166043%,transparent 40%),
                        radial-gradient(circle at 20% 0%, hsla(236.91176470588243,77%,74%,0.35) 3.1210986267166043%,transparent 40%),
                        radial-gradient(circle at 40% 0%, hsla(186.61764705882354,77%,74%,0.35) 3.1210986267166043%,transparent 40%),
                        radial-gradient(circle at 60% 0%, hsla(127.0588235294118,77%,74%,0.35) 3.1210986267166043%,transparent 40%),
                        radial-gradient(circle at 80% 0%, hsla(62.20588235294117,77%,74%,0.35) 3.1210986267166043%,transparent 40%),
                        radial-gradient(circle at 100% 0%, hsla(23.823529411764703,77%,74%,0.35) 3%,transparent 40%);
    background-blend-mode: normal,normal,normal,normal,normal,normal;
}

.text-wrapper, .image-wrapper {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 380px;
    color: var(--color-text-dark);
    gap: 2rem;
    margin: 1rem;
}

.hero-image {
    display: none;
}

h1 {
    font-family: var(--font-family-text);
    font-size: var(--font-size-base);
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.5rem;
}

p {
    line-height: 1.6;
    margin-bottom: 1rem;
    font-size: var(--font-size-small);
    
}

.speach {
    display: inline;
    text-transform: uppercase;
    font-family: var(--font-family-text);
    font-size: var(--font-size-medium);
    font-weight: 500;
    line-height: 1.5;
}

.text-gradient {
    background: var(--color-text-gradient);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 10s linear infinite;
    will-change: background-position;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-small);
    width: 100%;
    align-items: center;
    gap: 1rem;
}

a {
    color: var(--color-neutral-400);
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    width: 100%;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--color-neutral-500);
    transform: scale(1.025);
}

/* Media query para pantallas más grandes */
@media (min-width: 992px) {

    .inner-container {
        flex-direction: row;
        height: 80vh;
    }

    .text-wrapper, .image-wrapper {
        flex: 1;
        padding: 3rem;
    }

    .hero-content{
        text-align: left;
    }

    .hero-image {
        display: flex;
        background-image: url('/img/hero-image.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 400px;
    }

    h1 {
        font-size: var(--font-size-small);
        line-height: 2rem;
    }

    .speach {
        font-size: var(--font-size-medium);
        line-height: 32px;
    }

    p {
        font-size: var(--font-size-base);
        line-height: 1.6rem;
        width: 360px;
    }

    .button-wrapper {
        flex-direction: row;
        
    }

    .button-wrapper button, .button-wrapper a {
        width: auto;
    }

}

@media (min-width: 1280px) {
    
    .text-wrapper, .image-wrapper {
        padding: 5rem;
    }

    .hero-content {
        width: 650px;
        
    }

    .speach {
        width: 500px;
        font-size: var(--font-size-xlarge);
        line-height: 44px;
    }

    p {
        font-size: var(--font-size-base);
        width: 500px;
    }
}

</style>