<section aria-label="Hero Section" role="img">
        
        <h1>Energia Solar en Argentina</h1>
        <span>Ahorra tiempo, dinero y energía.</span>
        <h3>Encontra las mejores ofertas en productos solares de tu localidad.</h3>
        <button>Empezar ahora</button>
        <a href="/">¿Como funciona?</a>
    
</section>

<style>

button {
    color: var(--color-text-light);
    background-color: var(--color-accent);
}
section {
    width: 100%;
    height: 80vh;
    background: var(--linear-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 2rem;
    color: var(--color-text-light)  
}

h1 { 
    width: 100%;
    letter-spacing: .1rem;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 2rem;
    
}

h1::before{
    color: var(--color-text-light);
    margin-right: 0.5rem;
    content: "#1 Marketplace";
    background-color: var(--color-secondary);
    padding: 0.4rem 0.8rem;
}

h3 {
    width:80%
}

span {
    width: 70%;
    font-size: 3rem;
    font-weight: 300;
    font-family: var(--font-display);
    /* text-transform: uppercase; */
    
}

a {
    color: var(--color-text-secondary);
    font-weight: bolder;
    cursor: pointer;
}