<section aria-label="Hero Section" role="img">
    <div class="hero-content">
        <h1>Título Principal</h1>
        <h2>Subtítulo</h2>
        <h3>Otro subtítulo</h3>
            <div class="buttons">
                <button>Botón 1</button>
                <button>Botón 2</button>
            </div>
        <span>Texto adicional</span>
    </div>
</section>

<style>

section {
    width: 100%;
    height: 80vh;
    background-image: url('/img/bg-hero-index.webp'), url('/img/bg-hero-index.jpg');
    background-size: cover;
    background-position: center;
}