---
---
<div id="container">
    <div class="animated-section">
        <div class="initial-text"> <span>Fácil y rápido</span> </div>

        <div class="appear step step1">
            <h3>Realice la solicitud</h3>
            <p>Complete en minutos una encuesta asistida que describa el trabajo a realizar.</p>
        </div>
        <div class="appear step step2">
            <h3>Compare presupuestos</h3>
            <p>Recibirás propuestas competitivas de nuestro catálogo de empresas.</p>
        </div>
        <div class="appear step step3">
            <h3>Elija la mejor opción</h3>
            <p>Contacte con la empresa que ofrezca la mejor solución a sus necesidades.</p>
        </div>
    </div>
    <div id="stretcher"></div>
</div>

<style>

    span {
        font-size: 2.5rem;
    }

    h3 {
        /* color: var(--color-text-category); */
        font-weight:900;
    }

    p {
        color: var(--color-text-secondary:)
    }

    #container {
        height: 50vh;
        background-color: var(--color-primary);
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .animated-section {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: var(--color-text-light);
    }
    .initial-text {
        

    }

    .step {
        
        max-width: 252px;
    }
    
</style>
