<div class="container">
  <a href="/" aria-label="Home">
    <div class="logo-wrapper">
      <span>Dot Dager</span>
    </div>
  </a>
</div>

<style>
    
    .container {
    }
    
    a {
      text-decoration: none;
    }

    .logo-wrapper {
      display: flex;
      gap: 1rem;
    }
    
    span{
      font-family: var(--font-family-brand);
      letter-spacing: 0.125rem;
      font-weight: 100;
      font-size: 2rem;
      color: #F0F0F0;
      
    }

    @media (width > 576px) {

    }
</style>

