---
import SurveyLayout from "src/layouts/SurveyLayout.astro";
import StartSurveyButton from "src/modules/survey/components/StartSurveyButton.svelte"
---

<SurveyLayout>

    <div class="selector-wrapper">
      <h1>Cotizador online</h1>

      
        <label for="survey-select">Seleccione el tipo de trabajo que desea cotizar</label>
        <select id="survey-select">
          <option value="">-- Elija una categoria --</option>
          <option value="paneles-solares">Paneles Solares</option>
          <option value="bombas-solares">Bombas Solares</option>
        </select>
      
        
        <StartSurveyButton nextUrl="" client:load />
    </div>

</SurveyLayout>

<style>

  .selector-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
  }

  label {
    display: block;
    font-size: var(--font-size-xsmall);
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  select {
    width: 300px;
    padding: 0.5rem;
    font-size: var(--font-size-small);
    border: 1px solid var(--color-neutral-300);
    border-radius: 4px;
    text-align: ;
  }

  .start-button {
    border: 0;
    border-radius: 4px;
    color: var(--color-text-light);
    background-color: var(--color-blue-400);
    display: flex;
    font-size: var(--font-size-small);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.3s;
    max-width: 300px;
    
  }

  .start-button:hover {
    background-color: var(--color-blue-500);
  }
  .start-button:active {
    transform: scale(0.9);
  }

@media (min-width: 576px) {
  .survey-container {
    padding: 1.5rem;
    margin: 0 auto;
    max-width: 540px; /* Tamaño cómodo para tablets */
  }
  label {
    display: block;
    font-size: var(--font-size-small);
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
}




</style>
