:root{

    /* Sistema de Colores */
	/* Colores de marca */
	--color-primary: #5EC05C;
	--color-secondary: #47973A;
	
	/* Paleta de Colores Base */
	/* Azules */
	--color-blue-100: rgba(234, 244, 255, 1);
	--color-blue-200: rgba(224, 240, 255, 1);
	--color-blue-300: rgba(145, 208, 255, 1);
	--color-blue-400: rgba(81, 192, 255, 1);
	--color-blue-500: rgba(0, 91, 211, 1);
	--color-blue-600: rgba(0, 66, 153, 1);
	--color-blue-700: rgba(0, 58, 90, 1);

	/* Verdes */
	--color-green-100: rgba(205, 254, 212, 1);
	--color-green-200: rgba(175, 254, 191, 1);
	--color-green-300: rgba(4, 123, 93, 1);
	--color-green-400: rgba(3, 94, 76, 1);
	--color-green-500: rgba(1, 75, 64, 1);
	--color-green-600: rgba(7, 54, 48, 1);

	/* Amarillos */
	--color-yellow-100: rgba(255, 248, 219, 1);
	--color-yellow-200: rgba(255, 244, 191, 1);
	--color-yellow-300: rgba(255, 230, 0, 1);
	--color-yellow-400: rgba(234, 211, 0, 1);
	--color-yellow-500: rgba(79, 71, 0, 1);
	--color-yellow-600: rgba(51, 46, 0, 1);

	/* Naranjas */
	--color-orange-100: rgba(255, 241, 227, 1);
	--color-orange-200: rgba(255, 235, 213, 1);
	--color-orange-300: rgba(255, 184, 0, 1);
	--color-orange-400: rgba(229, 165, 0, 1);
	--color-orange-500: rgba(94, 66, 0, 1);
	--color-orange-600: rgba(65, 45, 0, 1);

	/* Rojos */
	--color-red-100: rgba(254, 232, 235, 1);
	--color-red-200: rgba(254, 225, 230, 1);
	--color-red-300: rgba(199, 10, 36, 1);
	--color-red-400: rgba(163, 10, 36, 1);
	--color-red-500: rgba(142, 11, 33, 1);
	--color-red-600: rgba(95, 7, 22, 1);

	/* Morados */
	--color-purple-100: rgba(248, 247, 255, 1);
	--color-purple-200: rgba(243, 241, 255, 1);
	--color-purple-300: rgba(128, 81, 255, 1);
	--color-purple-400: rgba(87, 0, 209, 1);
	--color-purple-500: rgba(87, 0, 209, 1);
	--color-purple-600: rgba(113, 38, 255, 1);

	/* Neutros */
	--color-neutral-100: #FFF;
	--color-neutral-200: #F3F4F6;
	--color-neutral-300: rgba(181, 181, 181, 1);
	--color-neutral-400: rgba(97, 97, 97, 1);
	--color-neutral-500: rgba(48, 48, 48, 1);

	/* Colores de Fondo */
	--color-background: var(--color-neutral-100);
	--color-background-secondary: var(--color-neutral-200);

	--color-background-info: var(--color-blue-100);
	--color-background-info-hover: var(--color-blue-200);
	--color-background-tags-info: var(--color-blue-300);
	--color-background-tags-info-hover: var(--color-blue-400);

	--color-background-success: var(--color-green-100);
	--color-background-success-hover: var(--color-green-200);
	--color-background-tags-success: var(--color-green-300);
	--color-background-tags-success-hover: var(--color-green-400);

	--color-background-caution: var(--color-yellow-100);
	--color-background-caution-hover: var(--color-yellow-200);
	--color-background-tags-caution: var(--color-yellow-300);
	--color-background-tags-caution-hover: var(--color-yellow-400);

	--color-background-warning: var(--color-orange-100);
	--color-background-warning-hover: var(--color-orange-200);
	--color-background-tags-warning: var(--color-orange-300);
	--color-background-tags-warning-hover: var(--color-orange-400);

	--color-background-critical: var(--color-red-100);
	--color-background-critical-hover: var(--color-red-200);
	--color-background-tags-critical: var(--color-red-300);
	--color-background-tags-critical-hover: var(--color-red-400);

	--color-background-emphasis: var(--color-purple-100);
	--color-background-emphasis-hover: var(--color-purple-200);
	--color-background-tags-emphasis: var(--color-purple-300);
	--color-background-tags-emphasis-hover: var(--color-purple-400);

	/* Colores de Texto */
	--color-text-light: var(--color-neutral-100);
	--color-text-dark: var(--color-neutral-500);
	--color-text-secondary: var(--color-neutral-400);
	--color-text-disabled: var(--color-neutral-500);

	--color-text-link: var(--color-blue-500);
	--color-text-link-hover: var(--color-blue-600);

	--color-text-info: var(--color-blue-700);
	--color-text-info-hover: var(--color-blue-700);

	--color-text-success: var(--color-green-500);
	--color-text-success-hover: var(--color-green-600);

	--color-text-caution: var(--color-yellow-500);
	--color-text-caution-hover: var(--color-yellow-600);

	--color-text-warning: var(--color-orange-500);
	--color-text-warning-hover: var(--color-orange-600);

	--color-text-critical: var(--color-red-500);
	--color-text-critical-hover: var(--color-red-600);

	--color-text-emphasis: var(--color-purple-500);
	--color-text-emphasis-hover: var(--color-purple-600);


	--color-text-gradient: linear-gradient(to right , #7017FF, #C500E9, #ED00C0, #F80261, #FF1B90, #FE3B36, #FF6930, #FF6930, #FE3B36, #FF1B90, #F80261, #ED00C0, #C500E9, #7017FF);
	--linear-gradient: linear-gradient(222deg, rgba(94,192,92,1) 0%, rgba(253,187,45,1) 100%);
	--color-accent: #3dc928; 
	

}