:root{

    --color-neutral-100: #FFF;
	--color-neutral-200: #F3F4F6;
	--color-neutral-300: rgba(181, 181, 181, 1);
	--color-neutral-400: rgba(97, 97, 97, 1);
	--color-neutral-500: rgba(48, 48, 48, 1);

	--color-text-light: var(--color-neutral-100);
	--color-text-dark: var(--color-neutral-500);
	

	--color-text-gradient: linear-gradient(to right , #7017FF, #C500E9, #ED00C0, #F80261, #FF1B90, #FE3B36, #FF6930, #FF6930, #FE3B36, #FF1B90, #F80261, #ED00C0, #C500E9, #7017FF);

}