:root {
    /* Fuentes */
    --font-family: 'Roboto', sans-serif;
	--font-display: 'Fugaz One', sans-serif;
	

	--font-size-small: 12px;
	--font-size-base: 14px;
	--font-size-medium: 16px;
	--font-size-large: 18px;
	--font-size-xlarge: 20px;
	--font-size-xxlarge: 22px;
		
    /* Colores */
	/* Colores de marca */
	--color-primary: #5EC05C;
	--color-secondary: #47973A;
	
	/* Colores de fondo */
	--color-background: #FFF;
	--color-background-secondary: #F3F4F6;
	/* Colores de texto */
	--color-text-dark: #323232;
	--color-text-light: #FFF;
	--color-text-gray: #a4a4a4;
	--color-text-secondary: #efe;
	--color-text-category: #aff5ae;
	/* Colores de acento */
	--linear-gradient: linear-gradient(222deg, rgba(94,192,92,1) 0%, rgba(253,187,45,1) 100%);
	--color-accent: #3dc928;
	--color-link: #1a0dab;
	
}

/* Reset CSS */
html, button, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font: inherit;

}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	font-size: var(--font-size-small);
}

main {
	width: 100%;
	margin: auto;
}


img {
	max-width: 100%;
	height: auto;
}

/* Usos de las Fuentes */

h1, h2 {
    font-family: var(--font-display);
	font-optical-sizing: auto;
    font-style: normal;
	text-wrap: pretty;
}

body, h3, h4, h5, h6, p, ul, ol, input, textarea, button, label, nav, footer {
    font-family: var(--font-family);
    font-weight: 400;
	font-optical-sizing: auto;
    font-style: normal;
	text-wrap: pretty;
}

button, input[type="button"], a, label, nav {
    font-family: var(--font-family);
    font-weight: 500;
}

button, input[type="button"] {
	padding: 0.7rem 1.4rem;
	border-radius: 0.2rem;
}

/* A11y*/

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	white-space: nowrap;
}

/* Extra pequeño (0px - 575px) */
@media (width > 380px) {
    html {
        font-size: var(--font-size-base); /* Esto afectará todas las unidades rem */
    }
}

/* Pequeño (576px - 767px) */
@media (width > 576px) {
    html {
        font-size: var(--font-size-medium);
    }
}

/* Mediano (768px - 991px) */
@media (width >  992px) {
    html {
        font-size: var(--font-size-large);
    }
}

/* Grande (992px - 1199px) */
@media (width > 1280px) {
    html {
        font-size: var(--font-size-xlarge);
    }
}

/* Extra grande (1200px en adelante) */
@media (min-width > 1440px) {
    html {
        font-size: var(--font-size-xxlarge);
    }
}
