---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/pages/index/Hero.astro";
import StepAnimation from "../components/pages/index/StepAnimation.astro";
import Beneficios from "../components/pages/index/Beneficios.astro";
---

<MainLayout>
    <main>
        <Hero/>
        <StepAnimation/>
        <Beneficios/>
    </main>
</MainLayout>