---
import MainLayout from "src/layouts/main/MainLayout.astro";
import Hero from "src/modules/landing/components/Hero.astro";
import StepAnimation from "src/modules/landing/components/StepAnimation.astro";
import SectorCards from "src/modules/landing/components/SectorCards.astro";
import ParallaxSection from "src/modules/landing/components/ParallaxSection.astro";
---

<MainLayout>
    <main>
        <Hero/>
        <SectorCards/> 
        <ParallaxSection/>
        <StepAnimation/>
    </main>
</MainLayout>