---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/pages/index/Hero.astro";
import StepAnimation from "../components/pages/index/StepAnimation.astro";
import Beneficios from "../components/pages/index/Beneficios.astro";
import SectorCards from "../components/pages/index/SectorCards.astro";
import ParallaxSection from "../components/pages/index/ParallaxSection.astro";
---

<MainLayout>
    <main>
        <Hero/>
        <ParallaxSection/>
        <SectorCards/> 
        <Beneficios/>
        <StepAnimation/>
        <StepAnimation/>
        <StepAnimation/>
    </main>
</MainLayout>