---
import MainLayout from "src/layouts/MainLayout.astro";
import Hero from "src/modules/landing/components/Hero.astro";
import RenderSection from "src/modules/three/RenderSection.svelte";
import Technologies from "src/modules/landing/components/Technologies.astro";
import Lumberjack from "src/modules/landing/Lumberjack.astro";
---

<MainLayout>
    <main>
        <Hero/>
        <div id="stack">
            <Technologies/>
        </div>
        <div id="intereses" class="render-container">
            <RenderSection selectedModel="guitar" client:visible />
            <RenderSection selectedModel="cat" reverse client:visible />
            <RenderSection selectedModel="philosoraptor" client:visible />
            <RenderSection selectedModel="pickle" reverse client:visible />
        </div>
        <div id="lumber">
            <Lumberjack/>
        </div>
    </main>
</MainLayout>

<style>
    .render-container{
        padding-bottom: 1rem;
    }

    [id] {
        scroll-margin-top: 200px;
    }

    @media (max-width: 995px){

        .render-container{
            padding-bottom: 6rem;
        }
    }

</style>