---
import Logo from '../../Logo.astro';
import HeaderNav from '../header/HeaderNav.astro';
import Hamburger from '../header/Hamburger.svelte';
import Rrss from '../../Rrss.svelte';
---

<header>
    <div class="container">
        <Logo />
        <HeaderNav />

        <div class="desktop-only">
            <Rrss />
        </div>

        <div class="mobile-only">
            <Hamburger client:visible />
        </div>
    </div>
</header>

<style>
    header {
        position: relative;
        width: 100%;
        top: 0;
        background-color: var(--color-neutral-100);
        z-index: 10;
    
    }
    .container {        
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 4rem;
    }


    .desktop-only {
        display: none;
    }
    .mobile-only {
        display: block;
    }
    @media (width > 1024px) {
        .desktop-only {
            display: block;
        }
        .mobile-only {
            display: none;
        }
    }
</style>
