---
import Logo from '../../Logo.astro';
import HeaderNav from '../header/HeaderNav.astro';
import Hamburger from '../header/Hamburger.svelte';
---

<header>
    <div class="container">
        <div class="logo-wrapper">
            <Logo />
        </div>
        <div class="nav-wrapper">
            <HeaderNav />
        </div>
        <div class="mobile-only">
            <Hamburger client:visible />
        </div>
    </div>
</header>

<style>

    header {
        position: relative;
        width: 100%;
        top: 0;
        background-color: var(--color-neutral-100);
        z-index: 10;
        
    }
    .container {        
        height: 72px;
        display: flex;
        align-items: center;
        padding: 0 2rem;
    }

    .logo-wrapper {
        position: absolute;
        left: 0;
    }
    .nav-wrapper {
        margin: auto;
        max-width: 60%;
    }

    .desktop-only {
        display: none;
    }
    .mobile-only {
        display: block;
    }

    @media (width > 1024px) {
        .desktop-only {
            display: block;
        }
        .mobile-only {
            display: none;
        }
    }
</style>
