---
import Logo from '../../Logo.astro';
import HeaderNav from '../header/HeaderNav.astro';
import Hamburger from '../header/Hamburger.svelte';
import Rrss from '../../Rrss.svelte';
---

<header>
    <div class="container">
        <Logo />
        <HeaderNav />

        <div class="desktop-only">
            <Rrss />
        </div>

        <div class="mobile-only">
            <Hamburger client:visible />
        </div>
    </div>
</header>

<style>
    header {
    position: absolute; /* Esto saca el header del flujo normal */
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);
    
    }
    .container {        
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: clamp(0.5rem, 2vw, 1rem) clamp(1rem, 5vw, 4rem);
    }


    .desktop-only {
        display: none;
    }
    .mobile-only {
        display: block;
    }
    @media (width > 1024px) {
        .desktop-only {
            display: block;
        }
        .mobile-only {
            display: none;
        }
    }
</style>
