<section class="info-section">
    
    <div class="text-conteiner">

      <div class="text-wrapper">
          
            <article class="text-block">
              <h2>Short heading goes here</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit porttitor pulvinar.</p>
            </article>

            <article class="text-block">
              <h2>Short heading goes here</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit porttitor pulvinar.</p>
            </article>

            <article class="text-block">
              <h2>Short heading goes here</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit porttitor pulvinar.</p>
            </article>

        </div>
    </div>

    <div class="image-container">
        <img src="https://placehold.co/600x400/png" alt="Descripción de la imagen">
    </div>

</section>


<style>
.info-section {
  width: 90%;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 460px;
  gap: 1.5rem;
}

.text-block {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.text-block h2{
  font-family: var(--font-family-text);
  font-size: var(--font-size-medium);
  font-weight: 600;
}


.text-block p{
  font-family: var(--font-family-text);
  font-size: var(--font-size-base);
  font-weight: 400;
}

.image-container {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  max-width: 456px;
  max-height: 456px;
  object-fit: cover;
}

@media (min-width: 992px) {
  .info-section {
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
  }

  .text-conteiner{
    display: flex;
    align-items: end;

  }
  .text-wrapper {
    min-width: 420px;
    width: 100%;
    gap: 1.5rem;
    align-items: center;
  }

  .text-block {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
  }

}


@media (width > 1280px) {
  .info-section {
    max-width: 640px;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
  }

  .text-conteiner{
    display: flex;
    align-items: end;

  }
  .image-container {
    width: 100%;
    min-width: 540px;
    align-items: center;
  }

  .text-block {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
</style>