---
import Card from "src/components/ui/Card.astro";

const cards = [
  {
    image: '/img/panelsolar_familia.avif',
    title: 'Energia solar para casas',
    subtitle: 'Disfruta de cada momento en casa',
    paragraph: 'Siente la tranquilidad de tener siempre energía en tu hogar y reduce el costo de tu factura de luz',
    link: '/viviendas'
  },
  {
    image: '/img/panelsolar_negocios.avif',
    title: 'Energia solar para negocios',
    subtitle: 'Potencia el Éxito de tu negocio',
    paragraph: 'Mantén tus operaciones siempre listas y ofrece a tus clientes una experiencia unica',
    link: '/locales'
  },
  {
    image: '/img/panelsolar_empresas.avif',
    title: 'Energia solar para empresas',
    subtitle: 'Energía Sostenible en tu producción',
    paragraph: 'Optimiza tu producción, reduce costos y califica para Incentivos fiscales',
    link: '/empresas'
  },
  {
    image: '/img/panelsolar_agroindustria.jpg',
    title: 'Energia solar para agroindustrias',
    subtitle: 'Energía Sostenible en tu producción',
    paragraph: 'Optimiza tu producción, reduce costos y califica para Incentivos fiscales',
    link: '/agroindustria'
  }
];
---

<section class="card-wrapper">
  {cards.map(card => (
    <Card {...card} />
  ))}
</section>

<style>

.card-wrapper {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se muevan a una nueva línea si no hay espacio */
  justify-content: center; /* Centra las tarjetas en resoluciones donde haya espacio sobrante */
  gap: 2rem; /* Espacio entre tarjetas */
  padding: 2rem;
}

</style>

