<a href="/" aria-label="Home">
    <span>Sunvey</span>
</a>

<style>
    a {
      text-decoration: none;
      font-weight: 100;
      font-size: 2rem;
      color: var(--color-neutral-400);
    }

    span{
      font-family: var(--font-family-brand);
      letter-spacing: -0.125rem;
    
    }
</style>

