<a href="/" aria-label="Home">
    <span>Sunvey</span>
</a>

<style>
    a {
      text-decoration: none;
      font-weight: bold;
      font-size: clamp(1.5rem, 10vw, 2.5rem);
      color: var(--color-text-light);
    }
</style>