---
import BaseHead from '../main/BaseHead.astro';
import Header from '../navigation/navbar/Header.astro';
import Footer from '../navigation/footer/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
---

<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			
		</style>
	</head>

	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style>

body {
	min-height: 100dvh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

</style>