<nav class="desktop-only navbar">
    <ul class="navbar-menu">
        <li class="menu-item">
            <a href="#projects" type="button">Proyectos</a>
        </li>
        
        <li class="menu-item">
            <a href="#intereses" type="button">Intereses</a>
        </li>
    
        <li class="menu-item">
            <a href="#lumber" type="button">Lumber Jack</a>
        </li>
    </ul>
</nav>
<style>

    .desktop-only {
        display: none;
    }

    .navbar-menu {
        list-style: none;
        display: flex;
    }
    
    .menu-item {
        display: flex;
        height: 72px;
    }
    
    a {
        background: none;
        cursor: pointer;
        padding: 0rem 1.5rem;
        margin: 1.5rem 0;
        color: #f0f0f0;
        list-style: none;
    }
    
    
    @media (width > 1024px) {
        .desktop-only {
            display: block;
        }
}
</style>
