---
import Logo from 'src/modules/brand/components/Logo.astro';
import HeaderNav from './HeaderNav.astro';
import Hamburger from './Hamburger.svelte';
---

<script>
  let previousScroll = 0;
  let navbar: HTMLElement | null = null;

  if (typeof window !== "undefined") {
    window.addEventListener('DOMContentLoaded', () => {
      navbar = document.querySelector('.navbar');
      window.addEventListener('scroll', () => {
        const currentScroll = window.scrollY;
        if (navbar) {
          if (currentScroll > previousScroll && currentScroll > 100) {
            navbar.classList.remove('visible');
          } else if (currentScroll < previousScroll) {
            navbar.classList.add('visible');
          }
        }
        previousScroll = currentScroll;
      });
    });
  }
</script>

<header>
    <nav class="navbar visible">
        <div class="container">
            <div class="logo-wrapper">
                <Logo />
            </div>
            <div class="nav-wrapper">
                <HeaderNav />
            </div>
            <div class="mobile-only">
                <Hamburger client:visible />
            </div>
        </div>
    </nav>
</header>

<style>

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        height: 90px;
        background-color: white;
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
    }

    .navbar.visible {
        transform: translateY(0);
    }

    .navbar:not(.visible) {
        transform: translateY(-100%);
    }


    header {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        top: 0;
        z-index: 10;
        background-color: #fafafa;
        
    }
    .container {        
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
    }

    .logo-wrapper {
    }
    .nav-wrapper {
        max-width: 80%;
    }

    .desktop-only {
        display: none;
    }
    .mobile-only {
        display: block;
    }


    @media (width > 576px) {

        .container {
            width: 80%;
        }
    }

    @media (width > 1024px) {
        .desktop-only {
            display: block;
        }
        .mobile-only {
            display: none;
        }
        .container {
            width: 80%;
        }
    }
    
    @media (width > 1440px) {

        .container {
            width: 65%;
        }
    }  
</style>
