---
import Logo from 'src/modules/brand/components/Logo.astro';
import HeaderNav from './HeaderNav.astro';
import Hamburger from './Hamburger.svelte';
---

<header>
    <div class="container">
        <div class="logo-wrapper">
            <Logo />
        </div>
        <div class="nav-wrapper">
            <HeaderNav />
        </div>
        <div class="mobile-only">
            <Hamburger client:visible />
        </div>
    </div>
</header>

<style>

    header {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        top: 0;
        z-index: 10;
        background-color: #fafafa;
        
    }
    .container {        
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
    }

    .logo-wrapper {
    }
    .nav-wrapper {
        max-width: 80%;
    }

    .desktop-only {
        display: none;
    }
    .mobile-only {
        display: block;
    }

    @media (width > 1024px) {
        .desktop-only {
            display: block;
        }
        .mobile-only {
            display: none;
        }
    }
</style>
