---
const imageUrl = "/img/lumberjack.jpg";
---

<section class="section-container">
    <div class="text-content">
        <h2>Talando troncos, midiendo egos</h2>
        <p>Jueguito de mierda? Parate de manos ! a ver si superas mi puntaje, pero grábalo porque no te creo nada</p>
        <span>Récord actual: <span class="puntaje">473</span> pts</span>
        <a class="button" target="_blank" href="https://tbot.xyz/lumber/">¡Dale, cagón!</a>
        <div class="discord">
            <div>
                <span class="ds">Subí la evidencia al off-topic del Discord:</span>
            </div>
            <a target="_blank" id="ds-logo" href="https://discord.com/channels/399451704170512395/1130689076924788817">
                <img src="/icons/discord.svg"/>
            </a>
        </div>
    </div>
    <div class="image-content">
        <img src={imageUrl}>  
    </div>
    
</section>


<style>

.discord{
    display: flex;
    align-items: center;
    justify-content: center;
}

#ds-logo{
    margin-left: 1rem;
}

#ds-logo img{
    margin-top: 6px;
    width: 24px;
    height: 24px;
    filter: grayscale(1);
}

#ds-logo img:hover {
    transform: scale(1.1);
    filter: grayscale(0);
}

span {
    font-size: var(--font-size-small);
    font-weight: 700;
    line-height: 1.2;
}

.puntaje {
    padding: 0 0.5rem;
    font-size: var(--font-size-base);
    color: rgb(255, 136, 0);
}

.section-container {
    width: 80%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;
    padding-bottom: 12rem;
    margin-bottom: 6rem;
    margin-top: 4rem;
}

.text-content, .image-content {
    flex: 1;
}

.text-content {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    color: #FFF;
    gap: 1rem;
}

.text-content h2 {
    font-size: var(--font-size-large);
    font-weight: 700;
    line-height: 1.2;
}

.text-content p {
    font-size: 1.125rem;
    line-height: 1.6;
}

.text-content .button{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #FFF;
    background-color: rgb(255, 136, 0);
    cursor: pointer;
    text-decoration: none;
    border-radius: 8px;
}

.text-content .button:hover{
    transform: scale(1.1);
}

.image-content {
    max-width: 400px;
    display: flex;
    justify-content: center;

}

span.ds {
    font-size: var(--font-size-small);
    font-weight: 400;
    line-height: 1.5rem;
    color: #d0d0d0;
}

.image-content img {
    width: 250px;
    height: 250px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 1339px) {
    .text-content h2 {
    font-size: 1.75rem;
    }
    .text-content p {
    font-size: 1rem;
    max-width: 500px;
    }
    .section-container {
    flex-direction: column-reverse;
    gap: 4rem;
    }
    .text-content {
    align-items: center;
    text-align: center;
    }
    .text-content h2 {
    font-size: 1.5rem;
    }
    .text-content p {
    font-size: 0.875rem;
    line-height: 1.4;
    }
    .text-content button {
    font-size: 0.875rem;
    }
}

@media (max-width: 480px) {
}
</style>
