---
import MainLayout from './MainLayout.astro';
import SideNav from '../components/layout/sidenav/SideNav.svelte';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

type GuideProps = {
	title: string;
	description: string;
	slug: string;
};

const { title, slug } = Astro.props as GuideProps;
const guides: CollectionEntry<'guide'>[] = await getCollection('guide');
---

<MainLayout>
	<aside>
		<SideNav {guides} {slug} client:visible />
	</aside>  
	<main>
		<article>
		<h1>{title}</h1>
		<hr />
		<slot />
		</article>
	</main>
</MainLayout>

<style>
	
	main {
		width: calc(100% - 2em);
		max-width: 100%;
		margin: 0;
	}
	
</style>
