---
import BaseHead from '../components/layout/header/BaseHead.astro';
import Header from '../components/layout/header/Header.astro';
import Footer from '../components/layout/footer/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			/* Estilos globales del sitio */
		</style>
	</head>

	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
