---
import BaseHead from 'src/layouts/BaseHead.astro';
import Header from 'src/modules/navigation/navbar/Header.astro';
import Footer from 'src/modules/navigation/footer/Footer.astro';


interface Props {
    title?: string;
    description?: string;
}

const { 
    title = "Renovar Energia", 
    description = "Cotiza proyectos fotovoltaicos para hogares, empresas y agroindustrias, descubre casos de éxito reales y recibe asesoría experta para maximizar tu ahorro energético.", 
} = Astro.props;
---

<html lang="es">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style>

body {
	min-height: 100dvh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	background-color: #fafafa;
}

</style>