---
import BaseHead from './BaseHead.astro';
import Header from 'src/modules/navigation/navbar/Header.astro';
import Footer from 'src/modules/navigation/footer/Footer.astro';


interface Props {
    title?: string;
    description?: string;
}

const { 
    title = "Renovar Energia", 
    description = "Te la debo", 
} = Astro.props;
---

<html lang="es">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			
		</style>
	</head>

	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style>

</style>