---
import SurveyLayout from "src/layouts/SurveyLayout.astro";
import SurveyNav from "src/modules/survey/components/SurveyNav.svelte";
import type { InputType } from "src/modules/survey/types/InputType";
import RadioInput from "src/components/inputs/RadioInput.svelte";

const inputType: InputType = 'radio';
---

<SurveyLayout>
    
    <h1 style="text-align: center">Selecciona el tipo de propiedad</h1>

    <form class="radio-group">

      <RadioInput name="propiedad" value="casa-familiar" label="Casa familiar"/>

      <RadioInput name="propiedad" value="local-comercial" label="Local Comercial"/>

      <RadioInput name="propiedad" value="industria" label="Industria"/>

      <RadioInput name="propiedad" value="agroindustria" label="Agroindustria"/>

    </form>

      <SurveyNav
      prevUrl="/surveys"
      nextUrl="/survey/paneles-solares/step-2"
      inputType="radio"
      inputSelector="input[name='propiedad']"
      client:load
      />

</SurveyLayout>

<style>


  .radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    max-width: ;
  }

</style>